@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* App Component Styles */

.app {
  height: 100vh;
  width: 100vw;
  margin: auto;

  background-color: rgb(165, 213, 238);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addItem {
  height: 50px;
  width: 300px;
  border: solid 1px steelblue;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.listContainer {
  height: 300px;
  width: 300px;

  border: solid 1px steelblue;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  overflow: auto;

  padding-top: 20px;
}

.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.actionBtn {
  width: 50px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: red solid 1px;
  color: black;
  margin-left: 10px;
}

input {
  height: 20px;
  width: 160px;
  padding: 0 2px;
}

input:focus {
  outline: none;
}
